{% extends 'products/index.html' %}
{% load static %}

{% block title %}
<title>Welcome to BGPOS!</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <table class="image-cont">
<tr>
  <th>
    <div class="image-cont">
    <img id="logpic" src="{% static 'Images/BG.png' %}" alt="BG">
    </div>
  </th>
</tr>

<tr>
  <th style="font-family: cursive; font-size: 2cm; color: white;">
      Welcome to Boodle gang Inc. <br> Point of Sale System
  </th>
</tr>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

<!-- </body>
</html> -->
{% endblock %}
