{% extends 'products/index.html' %}
{% load static %}
    {% block content %}
      <div class="row">
        <div class="col">
          {% csrf_token %}
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          <table class="table table-bordered"  id="order">
            <tr>
              <form action="Order" method="POST">
                {% csrf_token %}
              <th colspan="3"></th>
              <th>
                <button type="submit" class="btn btn-warning">Generate Receipt</button>
                <br>
                <input type="number" name="tendered"></th>
              <th>Order No.:</th>
              <th style="font-size: 0.5in;">#{{orderno}}</th>
            </tr>

            <tr>
              <th>Date</th>
              <th>{{ current_order.Date }}</th>
              <th><label for="table">Table</label></th>
              <th>
                <select class="" name="table" id="table">
                  <option value="" disabled selected>Table No.</option>
                  <option value="1">Table 1</option>
                  <option value="2">Table 2</option>
                  <option value="3">Table 3</option>
                </select>
              </th>
              <th>Client</th>
              <th></th>
            </tr>
            <tr>
              <th><label for="PO">Payment Option</label></th>
              <th>
                <select name="PO" id="PO" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option value="" disabled selected>Enter Mode of Payment</option>
                  <option value="Cash">Cash</option>
                  <option value="GCASH">GCASH</option>
                  <option value="CD">Credit/Debit Card</option>
                </select>
              </th>
              <th><label for="server">Server</label></th>
              <th>
                <select name="server" id="server">
                  <option value="" disabled selected>Server Name</option>
                  <option value="Sage">Sage</option>
                  <option value="Dylan">Dylan</option>
                  <option value="Mica">Mica</option>
                </select>
              </th>
              <th><label for="pwds">PWD / Senior</label></th>
              <th>
                <select name="pwds" id="pwds">
                  <option value="False">None</option>
                  <option value="True">Senior</option>
                  <option value="True">PWD</option>
                </select>
              </th>
            </tr>
          </table>
        </form>
          <table class="table table-bordered" id="ordered">
            <tr>
              <td colspan="7"><button class="btn btn-warning" onclick="openForm()">Add Item</button></td>

            </tr>
            <tr>
              <th>Delete</th>
              <th>Product #</th>
              <th>Description</th>
              <th>Qty</th>
              <th>Price/Qty</th>
              <th>Discount</th>
              <th>Adjusted Price</th>
            </tr>
          {% for ol in ol %}
            <tr class="RetrievedOrders">
              <th style="background-color: #A2F7AE;">
                <form action="Delete" method="POST">
                  {% csrf_token %}
                <!-- <button type="submit" class="btn btn-danger" name="Product" value={{ol.Product}}>X</button> -->
                <input class="btn btn-default btn-danger" name="delete" type="submit" value="{{ol.Product}}"/>
              </th>
            </form>
              <th style="background-color: #A2F7AE;">{{ol.Product}}</th>
              <th style="background-color: #A2F7AE;">{{ol.ProductDesc}}</th>
              <th style="background-color: #A2F7AE;">{{ol.ProductQty}}</th>
              <th style="background-color: #A2F7AE;">{{ol.ProductCost}}</th>
              <th style="background-color: #A2F7AE;">{{ol.Discount}}</th>
              <th style="background-color: #A2F7AE;">{{ol.Finalprice}}</th>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="form-popup" id="myForm">
      <form action="Orderline" method="POST" class="form-container" >
        {% csrf_token %}
      <table>
        <th>Add Item / Edit Item</th>
    
      <tr>
        <td><label for="Product"><b>Product</b></label></td>
        <td>
          <select name="Product" id="Product">
            <option value="" disabled>Enter Product</option>
            {% for p in products %}
            <option value="{{p.pk}}">{{p.ProductName}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      
      <tr>
        <td><label for="qty"><b>Quantity</b></label></td>
        <td><input type="number" placeholder="Enter Amount" name="qty" required></td>
      </tr>

      <tr>
        <td><label for="dsc"><b>Discount</b></label></td>
        <td>
          <select name="dsc" id="dsc">
            <option value=""></option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </td>
      </tr>

      <tr>
        <td>Price</td>
        <td></td>
      </tr>

      <tr>
        <td><button type="submit" class="btn btn-warning">Add order</button></td>
        <td><button type="button" class="btn btn-warning" onclick="closeForm()">Cancel</button></td>
        <td></td>
      </tr>
        
    </table>
  </form>
    </div>
    
    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
      {% endblock %}