{% extends 'products/index.html' %}
{% load static %}
    {% block content %}
      <div class="row">
        <div class="col">
          {% csrf_token %}
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          <table class="table table-bordered"  id="order">
              <form action="Order" method="POST">
                {% csrf_token %}
            <tr>
              <th style="font-size: 0.5in;">#{{orderno}}</th>
              <th>
                <select name="table" id="table">
                  <option value="" disabled selected>Table No.</option>
                  <option value="1">Table 1</option>
                  <option value="2">Table 2</option>
                  <option value="3">Table 3</option>
                </select>
                <th>
                  <select name="pwds" id="pwds">
                    <option value="" disabled selected>PWD/Senior</option>
                    <option value="False">None</option>
                    <option value="True">Senior</option>
                    <option value="True">PWD</option>
                  </select>
                </th>
                <th>
                  <select name="ol_no" id="ol_no">
                    <option value="{{ol_no}}" disabled selected>Orderline number</option>
                  </select>
                </th>
            </tr>
            <tr>
              <th>
                <button class="critical" type="submit" id="generatereceipt" disabled>Generate Receipt</button>
                <br>
                <input pattern="[0-9]+" placeholder="Tendered Amount" type="text" name="tendered" id="tendered">
              </th>
              <th>
                <select name="PO" id="PO">
                  <option value="" disabled selected>Enter Mode of Payment</option>
                  <option value="Cash">Cash</option>
                  <option value="GCASH">GCASH</option>
                  <option value="CD">Credit/Debit Card</option>
                </select>
              </th>
              <th>
                <select name="server" id="server">
                  <option value="" disabled selected>Server Name</option>
                  <option value="Sage">Sage</option>
                  <option value="Dylan">Dylan</option>
                  <option value="Mica">Mica</option>
                </select>
              </th>
            </tr>
          </table>
        </form>
          <table class="table table-bordered" id="ordered">
            <tr>
              <td colspan="7"><button onclick="toggle()">Add Item</button></td>

            </tr>
            <tr>
              <th class="delete-text">Delete</th>
              <th style="color: #FFF851">Product #</th>
              <th>Description</th>
              <th>Qty</th>
              <th>Price/Qty</th>
              <th>Discount</th>
              <th>Adjusted Price</th>
            </tr>
          {% for ol in ol %}
            <tr class="RetrievedOrders">
              <th>
                <form action="Delete" method="POST">
                  {% csrf_token %}
                <button type="submit" class="delete" name="delete" value={{ol.Product}}>Delete</button>
                <!-- <input class="delete" name="delete" type="submit" value="{{ol.Product}}"/> -->
              </th>
            </form>
              <th style="color: #FFF851">{{ol.Product}}</th>
              <th>{{ol.ProductDesc}}</th>
              <th>{{ol.ProductQty}}</th>
              <th>{{ol.ProductCost}}</th>
              <th>{{ol.Discount}}</th>
              <th style="text-decoration:underline;">{{ol.Finalprice}}</th>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="form-popup" id="AddItem">
      <form action="Orderline" method="POST" class="form-container" >
        {% csrf_token %}
      <table>
        <th colspan="2">Add Item / Edit Item</th>
    
      <tr>
        <td><label for="Product"><b>Product</b></label></td>
        <td>
          <select name="Product" id="Product">
            <option value="" disabled>Enter Product</option>
            {% for p in products %}
            <option value="{{p.pk}}">{{p.ProductName}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      
      <tr>
        <td><label for="qty"><b>Quantity</b></label></td>
        <td><input type="number" placeholder="Enter Amount" name="qty" required></td>
      </tr>

      <tr>
        <td><label for="dsc"><b>Discount</b></label></td>
        <td>
          <select name="dsc" id="dsc">
            <option value=""></option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Add order</button></td>
        <!-- <td><button type="button" onclick="closeForm()">Cancel</button></td> -->
        <td></td>
      </tr>
        
    </table>
  </form>
    </div>
    <script>
    const Table = document.getElementById("table");
    const PO = document.getElementById("PO");
    const PWDS = document.getElementById("pwds");
    const Server = document.getElementById("server");
    const Tendered = document.getElementById("tendered");
    var Orderline = {{ ol_no }};

    console.log(Orderline>0)

    function checkFormValidity() {
      if (Table.value && PO.value && PWDS.value && Server.value && Tendered.value && Orderline>0==true) 
      // && Orderline>0==true)
      // if (Orderline>0)
      {
        generatereceipt.disabled = false;
      } 
      else
      {
        generatereceipt.disabled = true;
      }
    
    }
    Table.addEventListener("change", checkFormValidity);
    PO.addEventListener("change", checkFormValidity);
    PWDS.addEventListener("change", checkFormValidity);
    Server.addEventListener("change", checkFormValidity);
    Tendered.addEventListener("change", checkFormValidity);
    // Orderline.addEventListener("change", checkFormValidity);
    

    function toggle()
    {
    debugger;
    var e = document.getElementById("AddItem");
    if (e.style.display == 'block' || e.style.display =='')
    {
        e.style.display = 'none';
    }
    else 
    {
        e.style.display = 'block';
    }
    }
    </script>
      
  {% endblock %}