{% extends 'products/index.html' %}
{% load static %}

{% block title %}
<title>Product List</title>
{% endblock %}

    {% block content %}
    <div class="container-fluid">
      <div class="row"> 
          <div class="col-7">
              <table class="table table-bordered" id="ptable">
              <tbody id="products">
                  <tr>
                      <th style="width: 6px;">Delete</th>
                      <th>Item#</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Remaining Stock</th>
                  </tr>
                  {% for p in products %}
                  <tr>
                    <form id="DeleteProduct" action="DeleteProduct" method="POST">
                      {% csrf_token %}
                    <td><button type="submit" onclick="return confirm('Are you sure you wish to remove this item?');" class="delete" name="delete" value={{p.pk}}>Delete</button></td>
                    </form>
                    <td>{{p.pk}}</td>
                    <td>{{p.ProductName}}</td>
                    <td>{{p.ProductCost}}</td>
                    <td>{{p.ProductStock}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
              </table>
          </div>
          <div class="col">
            <table class="table table-bordered">
              <form action="addProduct" method="POST">
                {% csrf_token %}
                <tbody>
                  <tr>  
                    <th><label for="name">Name</label></th>
                    <th><input pattern="[A-Za-z' ]+" type="text" name="name" id="name"/></th>
                  </tr>
                  <tr>
                    <th><label for="price">Price</label></th>
                    <th><input pattern="[0-9]+" title="Place a valid price" type="text" step=any name="price" id="price"/></th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center; " ><button>Register New Item</button></th>
                  </tr>
                </tbody>
              </form>
            </table>
            <table class="table table-bordered">
              <form action="Stock" method="POST">
                {% csrf_token %}
                <tbody>
                  <tr>  
                    <th><label for="name">Name</label></th>
                    <th>
                      <select name="Product" id="Product">
                      <option value="" disabled>Enter Product</option>
                      {% for p in products %}
                      <option value="{{p.pk}}">{{p.ProductName}}</option>
                      {% endfor %}
                    </select>
                  </th>
                  </tr>
                  <tr>
                    <th><label for="stock">Quantity</label></th>
                    <th><input pattern="[0-9]+" type="text" step=any name="stock" id="stock"/></th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center; " ><button>Restock Item</button></th>
                  </tr>
                </tbody>
              </form>
            </table>
        </div>
      </div>
    </div>
    {% endblock %}
<!-- References:
https://getcssscan.com/css-buttons-examples 
https://stackoverflow.com/questions/14787392/checking-if-condition-for-null
https://www.youtube.com/watch?v=Y6q8R-9y6a0





-->