{% extends 'products/index.html' %}
{% load static %}

{% block title %}
<title>Receipt</title>
{% endblock %}

    {% block content %}
            <div class="container-fluid">
        <div class="row">
        <table id="rec">
            <thead style="text-align: center;">
              <tr><th style="width: 1in; text-align: center;" colspan="4"><img id="Rpic" src="{% static 'Images/BG.png' %}" alt="BG"></th></tr>  
              <th colspan="4" style="font-family: cursive; font-size: 1cm;">Boodle Gang Inc.</th>
                <tr><td colspan="4">Owned & Optd. by: Madelyn Ren</td></tr>
                <tr><td colspan="4">M.V. Villar Ave. Molino III, Bacoor, Philippines</td></tr>
                <tr><td colspan="4">VAT Reg TIN:</td></tr>
                <tr><td colspan="4">MSN:</td></tr>
                <tr><td colspan="4">MIN:</td></tr>
                <tr><td colspan="4">Table No.: {{orderno.Table}}</td></tr>
                <tr><td colspan="4">OR NO.: {{orderno.pk}}</td></tr>
                <tr><td colspan="4">Cashier: {{orderno.Server}}</td></tr>
                <tr><td colspan="4">-------------------------------------------------------------</td></tr>
              </thead>
                <tbody>
                <tr style="text-align: left;">
                    <td>Qty</td>
                    <td>Description</td>
                    <td>&nbsp;</td>
                    <td>Price</td>
                </tr>
                {% for ol in ol %}
                <tr style="text-align: left;">
                    <td>{{ol.ProductQty}}</td>
                    <td>{{ol.ProductDesc}}</td>
                    <td>&nbsp;</td>
                    <td>{{ol.Finalprice}}</td>
                </tr>
                {% endfor %}
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td style="font-weight: bold; text-align: left;">Subtotal</td>
                    <td style="font-weight: bold; text-decoration: underline;">{{subtotal|floatformat:2}}</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td style="text-align: left;">PWD/Senior Deduction</td>
                  <td>&nbsp;</td>
                  <td>({{pwds|floatformat:2}})</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr style="font-weight: bold;">
                  <td colspan="2">&nbsp;</td>
                  <td style="text-align: left;">Total</td>
                  <td style="text-decoration: underline; text-decoration-style: double;">{{total|floatformat:2}}</td>
                </tr>
                <tr style="text-align: left;"><td>Tendered:</td></tr>
                <tr style="text-align: left;">
                  <td>{{orderno.PaymentOption}}</td>
                  <td colspan="2">&nbsp;</td>
                    <td>{{orderno.Tendered|floatformat:2}}</td>
                </tr>
                <tr style="text-align: left;">
                  <td>Change</td>
                  <td colspan="2">&nbsp;</td>
                    <td>{{change|floatformat:2}}</td>
                </tr>
                <tr><td colspan="4">-------------------------------------------------------------</td></tr>
                <tr><td colspan="4">THANK YOU FOR DINING WITH US</td></tr>
                <tr><td colspan="4">THIS SERVES AS AN OFFICIAL RECEIPT</td></tr>
                <tr><td colspan="4">YOU MAY CONTACT US AT VIA</td></tr>
                <tr><td colspan="4">(PHONE) 0998 400 5427</td></tr>
                <tr><td colspan="4">(EMAIL) madsren@yahoo.com</td></tr>

            </tbody>
        </table> 
      </div>
      </div> 
{% endblock %}