{% extends 'products/index.html' %}
{% load static %}

{% block title %}
<title>Sales Report</title>
{% endblock %}
    {% block content %}
    <div class="container-fluid">
      <div class="container-fluid"> 
        <div class="row">

          <!-- Table for Date configuration -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <!-- Day function -->
                <form action="Salesreport" method="POST">
                  {% csrf_token %}
                <th>
                  <select name="Daily" id="Daily">
                    <option value="0">Day</option>
                    {% for x in Days %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                  </select>
                </th>

              <!-- Month function -->
              
                <th>
                  <select name="Monthly" id="Monthly">
                    <option value="0">Month</option>
                    {% for x in Months %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                  </select>
                </th>


              <!-- Year function -->
                <th>
                  <select name="Yearly" id="Yearly">
                    <option value="">Year</option>
                    {% for x in Years %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                  </select>
                </th>
                <th><button class="critical" id="SortDisplay" disabled>Sort and Display</button> <br></th>
              </form>
              
              </tr>
            </thead>
          </table>
          <!-- Table for Date configuration -->
          <h1>
          {% for m in messages %}
          {{m}}
          {% endfor %}
        </h1>
          <!-- Table for Generated Orders -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Order No#</th>
                <th>Time</th>
                <th>Table</th>
                <th>Server</th>
                <th>Net Earning</th>
              </tr>
              {% for x in O %}
              <tr>
                <td>{{x.pk}}</td>
                <td>{{x.Date}}</td>
                <td>{{x.Table}}</td>
                <td>{{x.Server}}</td>
                <td>{{x.OrderTotal}}</td>
              </tr>
              {% endfor %}
            </thead>
          </table>
          <!-- Table for Generated Orders -->

        </div>
      </div>
      
    
    </div>
    <script>
      const Daily = document.getElementById("Daily");
      const Monthly = document.getElementById("Monthly");
      const Yearly = document.getElementById("Yearly");
      
      console.log(Daily.value)
  
      function toggleButtonState() {
  // Check the conditions and enable/disable the button accordingly
  if (Yearly.value && Monthly.value !== '0' && Daily.value !== '0') {
    SortDisplay.disabled = false;
  } else if (Yearly.value && Monthly.value !== '0' && Daily.value == '0') {
    SortDisplay.disabled = false;
  } else if (Yearly.value && Monthly.value == '0' && Daily.value == '0') {
    SortDisplay.disabled = false;
  } else {
    SortDisplay.disabled = true;
  }
}
      Daily.addEventListener("change", toggleButtonState);
      Monthly.addEventListener("change", toggleButtonState);
      Yearly.addEventListener("change", toggleButtonState);
      </script>
    {% endblock %}