<html>
   {% load static %}

   <!-- Include jQuery library -->
   <script src="{% static 'jquery.min.js' %}"></script>
   
   <!-- Confirmation popup box script -->
   <script>
       $(document).ready(function () {
           // Attach click event handler to the button
           $('#confirmButton').on('click', function () {
               // Show the confirmation popup box
               if (confirm('Are you sure you want to proceed?')) {
                   // If 'confirm' is clicked, submit the form
                   $('#myForm').submit();
               } else {
                   // If 'cancel' is clicked, do nothing
                   return false;
               }
           });
       });
   </script>
   
   <form id="myForm" method="POST" action="{% url 'your_view_name' %}">
       {% csrf_token %}
       
       <!-- Your form fields here -->
       
       <!-- Button that triggers the confirmation popup -->
       <button id="confirmButton" type="button">Submit</button>
   </form>
</html>